body {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 80px;
  width: 100%;
  background: #24292c;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 688px;
  height: 24px;
  left: 19%;
  top: 20px;
}

.main_page {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  
}

.staff {
  width: 35px;
  height: 24px;

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;

  color: #ffffff;

  flex: none;
  order: 1;
  flex-grow: 0;

  
}

.statistics {
  width: 68px;
  height: 24px;

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;

  color: #ffffff;

  flex: none;
  order: 2;
  flex-grow: 0;

}

.applications {
  width: 89px;
  height: 24px;

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;

  color: #ffffff;

  flex: none;
  order: 3;
  flex-grow: 0;

}

.chats {
  width: 42px;
  height: 24px;

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;

  color: #ffffff;

  flex: none;
  order: 4;
  flex-grow: 0;

}

.customers {
  width: 79px;
  height: 24px;

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;

  color: #ffffff;

  flex: none;
  order: 5;
  flex-grow: 0;

}

.settings {
  width: 61px;
  height: 24px;

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;

  color: #ffffff;

  flex: none;
  order: 6;
  flex-grow: 0;

  
}

a:hover {
  color: #00a6ed;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.tech {
  position: absolute;
  left: 3.33%;
  right: 92.43%;
  top: 1%;

  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
  color: white;
}

span {
  color: #00a6ed;
}

.notification {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 1151px;
  top: 0px;
}

.user {
  position: absolute;
  left: 83%;
  top: 4%;
}

.name {
  position: absolute;
  left: 87%;
  top: 4%;

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;

  color: white;
}

.vector {
  position: absolute;
  left: 95%;
  top: 4%;
}

.caption {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
}

.apply {

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #0c1116;

}

.update {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;


  color: #222223;
  background: #FFFFFF;
border: 1px solid #CDDBE4;
border-radius: 12px;
padding-left: 1.5%;
padding-right: 1.5%;

}

.table {
    box-sizing: border-box;
width: 80%;
margin: auto;
margin-top: 1%;
height: 100%;
background: #FFFFFF;
border: 1px solid #DDE7EC;
border-radius: 24px;

}

.main_line {
    width: 100%;
    height: 110px;
    background: #F8FBFC;
    border-bottom: 1px solid #DCE8ED;
    border-top-left-radius : 12px;
    border-top-right-radius: 12px;
}

.positions {
    display: flex;
    width: 100%;
   
}

.app {
    margin-left: 2%;
}

p {
    font-family: 'PT Root UI';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 114%;
color: #0C1116;
}

input {
    border:none;
box-shadow: 0px 3px 6px rgba(0, 23, 33, 0.04), 0px 6px 12px rgba(0, 23, 33, 0.04), 0px 10px 20px rgba(0, 23, 33, 0.04), 0px 0px 1px rgba(0, 98, 140, 0.7);
border-radius: 8px;
width: 100px;
height: 35px;
background: #FFFFFF;
}

input :hover{
    outline: 0;
    outline-offset: 0;
}

input :focus, :active {
   outline-color: #00a6ed;
} 

.title {
    margin-left: 3%;
}

.date{
    margin-left: 3%; 
}

.contractor {
    margin-left: 3%;   
}

.priority {
    margin-left: 3%;   
}

.status {
    margin-left: 3%;   
}

.line  {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #F0F5F8;
    cursor: pointer;
    height: 70px;
   
}

.line:hover {
    background: #F3F7F9;
}

.number {
    
    font-family: 'PT Root UI';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 114%;

text-align: right;

color: #0C1116;


padding-top: 25px;
width: 12%;

}

.problem {
    font-family: 'PT Root UI';
font-style: normal;
font-weight: 300;
font-size: 11px;


color: #0C1116;

padding-top: 30px;
margin-left: 4%;

width: 180px;

}

.when {
    font-family: 'PT Root UI';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 114%;

color: #0C1116;

padding-top: 30px;

height: 70px;
width: 150px;
}

.person {
    font-family: 'PT Root UI';
font-style: normal;
font-weight: 400;
font-size: 12px;


color: #0C1116;
padding-top: 30px;

height: 70px;
width: 150px;
}

.prior {
    font-family: 'PT Root UI';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 114%;

text-align: right;


color: #0C1116;
padding-top: 30px;

height: 70px;
width: 5px;
}

.status_color {
    font-family: 'PT Root UI';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 114%;

color: #F2C94C;
padding-top: 30px;
margin-left: 12%;
height: 70px;
width: 150px;
}

footer {

  height: 50px;
  width: 100%;
  background: #24292c;
}

.cont {
  margin-left: 90%;
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
}